body
{
  font-family: Arial;
  font-size: 16px;
}

.profile-picture
{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
}

.double-sidebar
{
  display: flex;
  background-color: aqua;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 220px;
}

.left-section
{
  /* width: 60px; */
  background-color: rgb(32, 32, 31);
  text-align: center;
  padding-top: 8px;
}

.user-image
{
  padding: 6px;
}

.right-section
{
  background-color: rgb(56, 56, 56);
  flex: 1;
  padding-top: 12px;
  padding-left: 8px;
  padding-right: 16px;
  color: white;
}

.section-header
{
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-size: 14px;
}

.icon
{
  font-size: 22px;
  font-weight: 100;
}

.content
{
  font-size: 13px;
  margin-bottom: 8px;
}