 p
 {
   font-family: Roboto, Arial;
   margin-top: 0;
   margin-bottom: 0;
 }

 @media (max-width: 1200px)
 {
   body
   {
     margin: 0;
     padding-top: 70px;
     padding-left: 90px;
     padding-right: 24px;
     background-color: rgb(243, 243, 243);
   }


 }

 @media (min-width:1200.1px)
 {
   body
   {
     margin: 0;
     padding-top: 70px;
     padding-left: 164px;
     padding-right: 24px;
     background-color: rgb(243, 243, 243);

   }
 }