.search-bar
{
  font-size: 20px;
  margin-left: 12px;
  /* no need of making the search bar 'block' anymore -use flexbox */
  /* display: block; */
}


.header
{
  height: 56px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* to make the header stick to the top of the page with Position 'fixed' */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;

  /* border for the bottom */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(235, 234, 234);

  /* to appear infront of the video thumbnails with position relative */
  z-index: 100;

}

.left-section-header
{
  /* background-color: lightseagreen; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* styles for menu icon */
.hamberger-menu
{
  height: 24px;
  margin: 0 20px;
}

/* styles for youtube logo */
.youtube-logo
{
  height: 20px;
}




/* only middle sectin resizes  */
.middle-section-header
{
  /* background-color: lightskyblue; */
  flex: 1;
  /* space between section is set here */
  margin-left: 80px;
  margin-right: 16px;
  /* max width of the middle section so that it stops growing from here */
  max-width: 500px;

  /* making middle section a flexbox so we can align content inside */
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* search bar styles- */
.search-bar
{
  /* to change width of input element with page width */
  flex: 1;
  height: 36px;
  padding-left: 12px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(214, 212, 212);
  border-radius: 4px;
  /* shadow inside the search box with 'inset' keyword */
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  /* to remove the default width of search bar */
  width: 0;
}

/* to change placeholder text of input element for search bar
we use a pseudo class of CSS */
.search-bar::placeholder
{
  font-family: Arial;
  font-size: 16px;
}



/* styles for search button */
.search-button
{
  height: 40px;
  width: 60px;
  background-color: rgb(228, 228, 228);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(214, 212, 212);
  margin-left: -1px;
  margin-right: 10px;
  cursor: pointer;
}

.search-icon
{
  height: 25px;
  /* to set the vertical alignment perfectly */
  margin-top: 4px;
}

/* styles for voice search button */
.voice-search-button
{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(250, 248, 248);
  cursor: pointer;

}

.voice-search-icon
{
  height: 24px;
  /* to set the vertical alignment perfectly */
  margin-top: 4px;
}




/* styles for right section has 3 icons and a channel picture */

.right-section-header
{
  /* background-color: lightslategrey; */
  width: 200px;
  /* to align items inside to center vertically */
  display: flex;
  align-items: center;
  /* to distribute content inside */
  justify-content: space-between;
  margin-right: 20px;
  /* not to shrink the space when the window is resized */
  flex-shrink: 0;

}

/* styles for the icons in the right section of header */
.upload-icon
{
  height: 24px;
}

.youtube-apps-icon
{
  height: 24px;

}


.notifications-icon-container
{
  position: relative;
}

.notifications-icon
{
  height: 24px;

}

.notifications-count
{
  position: absolute;
  top: -5px;
  right: -4px;
  background-color: rgb(197, 31, 31);
  color: white;
  font-size: 11px;
  font-family: Arial;
  padding: 2px 5px;
  border-radius: 10px;
}

.current-user-picture
{
  height: 32px;
  border-radius: 16px;

}