/* adding normal sidebar when the screen size < 1200px */
@media (max-width:1200px)
{

  .sidebar
  {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    /* to get top of header */
    z-index: 50;
    padding-top: 5px;
  }

  /* styles for the container box for the icon and text */
  .sidebar-link
  {
    height: 64px;
    /* to make the horizontal and vertical alignment to center for the content inside */
    display: flex;
    align-items: center;
    justify-content: center;
    /* to place the content on top of each other */
    flex-direction: column;
    cursor: pointer;
  }

  /* hover style */
  .sidebar-link:hover
  {
    background-color: rgb(243, 242, 242);

  }

  /* for <img> elements inside the sidebar  */
  .sidebar img
  {
    height: 24px;
  }

  /* for the icon text below icon  - <div> inside the sidebar*/
  .sidebar div
  {
    font-family: Arial;
    font-size: 8px;
    margin-top: 4px;
  }


}


/* extended sidebar for wider screens */
@media (min-width:1200.1px)
{
  .sidebar
  {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    /* higher width for extended sidebar */
    width: 160px;
    /* to get top of header */
    z-index: 200;
    padding-top: 5px;

  }

  /* styles for the container box for the icon and text */
  .sidebar-link
  {
    height: 36px;
    /* to make the horizontal and vertical alignment to center for the content inside */
    display: flex;
    align-items: center;
    /* extended version - begins at start */
    justify-content: start;
    /* the flex direction is changed for extended version */
    flex-direction: row;
    cursor: pointer;
    padding-left: 16px;

  }

  /* hover style */
  .sidebar-link:hover
  {
    background-color: rgb(243, 242, 242);

  }

  /* for <img> elements inside the sidebar  */
  .sidebar img
  {
    height: 24px;
  }

  /* for the icon text below icon  - <div> inside the sidebar*/
  .sidebar div
  {
    font-family: Arial;
    font-size: 8px;
    margin-top: 4px;
  }

  .icon-text
  {
    margin-left: 20px;
  }

}