.landing-container
{
  /* to center on the page */
  /* margin: auto; */

  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-image
{
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 16px;
}

.title
{
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 32px;
}

/* divider styles */
.divider
{
  width: 100%;
  position: relative;
  margin-bottom: 16px;
}

.divider hr
{
  height: 1px;
  border: none;
  color: #333;
  background-color: #333;
}

.divider-text
{
  position: absolute;
  font-size: 12px;
  top: 0px;
  left: 112px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(124, 123, 123);
  padding: 2px 4px;
  z-index: 100;

}

.info-text
{
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 0.2px;
  line-height: 12px;
  color: gray;
  margin-bottom: 24px;
  text-align: center;

}



.subtitle
{
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 16px;
  margin-top: 8px;
}