.modal-form-container
{
  width: 100%;
}

.space-bottom
{
  margin-bottom: 24px;
}


.mini-title
{
  font-size: 14px;
  font-weight: 500;
  font-family: Arial;
  margin-top: 28px;
  margin-bottom: 16px;
}

.info-text
{
  color: rgb(113, 118, 123);
  font-size: 11px;
  margin-top: 8px;
  line-height: 14px;
}

.birthday-input-container
{
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin-top: 24px;
  margin-bottom: 16px;
}

.dropdown-date-select
{
  background-color: black;
  padding-bottom: 6px;


}

.input-box:hover~.signin-input
{
  border-color: rgb(29, 155, 240);
}

.month-input
{
  width: 160px;

}

.day-input
{

  width: 80px;
}

.year-input
{
  width: 100px;
}