 .space-bottom-high
 {
   margin-bottom: 100px;
 }

 .info-para
 {
   color: rgb(83, 83, 83);
 }

 .input-box
 {
   justify-content: start;
   flex-direction: row;

 }


 /* got from internet */
 .password-toggle-icon
 {
   /* position: absolute;
   top: 20px;
   right: 10px; */
   /* transform: translateY(-50%); */
   cursor: pointer;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-right: 8px;
   padding-top: 8px;
 }

 .password-toggle-icon i
 {
   font-size: 18px;
   line-height: 1;
   color: #bdbdbd;
   transition: color 0.3s ease-in-out;
   /* margin-bottom: 20px; */
 }

 .password-toggle-icon i:hover
 {
   color: #656565;
 }