.overlay
{
  background-color: rgba(91, 112, 131, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
}

.signin-window
{
  position: relative;
  width: 240px;
  background-color: black;
  height: 400px;
  color: white;
  padding: 8px 92px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* close button for the signin-window */
.close-button
{
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 16px;
  font-family: Arial;
  border-radius: 19px;
  padding: 9px 12.5px;
  cursor: pointer;
}

.close-button:hover
{
  background-color: rgb(36, 36, 36);
}

/* logo styles on top of sign-in window */
.logo-window
{
  /* top: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rebeccapurple;
}

.signin-logo-image
{
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-bottom: 16px;
}



.divider-text-overlay
{
  position: absolute;
  font-size: 14px;
  top: -4px;
  left: 47%;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: rgb(199, 198, 198);
  padding: 2px 4px;
  z-index: 600;
}

.signin-title
{
  font-size: 24px;
  font-weight: 600;
  font-family: Tahoma;
}

/* styles for input box with inner label */
.input-box
{
  position: relative;
  width: 90%;
  /* height for the input box */
  height: 42px;
}

.signin-input
{


  width: 100%;
  height: 100%;
  padding-left: 8px;
  padding-top: 12px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  color: white;
  background-color: black;
  border: 0.01px solid rgba(77, 76, 76, 0.9);
  transition: all 160ms ease-in;
}


.input-label
{
  position: absolute;
  left: 12px;
  top: 12px;
  padding: 0px 2px;
  cursor: text;
  font-size: 14px;
  color: rgb(77, 77, 77);
  /* color: rgb(29, 155, 240); */
  transition: top 200ms ease-in,
    left 200ms ease-in,
    font-size 200ms ease-in;
}

.signin-input:hover
{
  border-color: rgb(11, 64, 99);
}

.signin-input:focus
{
  border-color: rgb(29, 155, 240);

}

.signin-input:focus+.input-label
/* ,.signin-input:valid+.input-label */

,
.signin-input:not(:placeholder-shown).signin-input:not(:focus)~.input-label
{
  top: 6px;
  left: 4px;
  font-size: 12px;
}

.signin-input:not(:placeholder-shown).signin-input:focus~.input-label
{
  color: rgb(29, 155, 240);
}



/* styles for other buttons */
.next-button
{
  color: black;
  font-weight: 600;
}

.forgot-password-button
{
  font-weight: 800;
  margin-bottom: 36px;
}

.signup-text
{
  color: gray;
  margin-bottom: 32px;
}