 .space-bottom-high
 {
   margin-bottom: 100px;
 }




 .info-para
 {
   color: rgb(83, 83, 83);
 }

 .input-box
 {

   flex-direction: row;
   justify-content: start;

 }

 .username-info
 {
   font-size: 13px;
   color: rgb(97, 97, 97);
 }

 .symbol-input
 {
   margin-left: 6px;
   margin-right: 1px;
   margin-top: 10px;
   color: rgb(77, 77, 77);
 }

 .input-tick-icon
 {
   position: absolute;
   right: 6px;
   top: 24px;
 }

 .username-input-label
 {
   position: absolute;
   top: 4px;
   left: 4px;
   font-size: 13px;
   cursor: text;
   color: rgb(77, 77, 77);


 }

 .signin-input:focus~.username-input-label
 {
   color: rgb(29, 155, 240);
 }

 /* doesn't work in Firefox or any other older version browsers */
 .input-box:has(.signin-input:focus) .username-input-symbol
 {
   color: rgb(29, 155, 240);
 }



 .signin-input:not(:placeholder-shown)~.input-tick-icon
 {

   font-size: 12px;
   color: rgb(26, 167, 54);
 }

 .marginTop
 {
   margin-top: 240px;
 }